.vs/
.venv/
out/
requirements.txt

.idea/
.ipynb_checkpoints/
__pycache__/
cuda/copy_2D/x64-Debug/
cuda/opencv/
mobaxtermpath
one-off/.idea/
one-off/.ipynb_checkpoints/
one-off/__pycache__/
one-off/jupyter/.ipynb_checkpoints/
one-off/tests/.ipynb_checkpoints/
one-off/tests/__pycache__/
__pycache__/


